:root {
    --primary-color: #77C4F8;
    --secundary-color: #FFE45E;
    --accent1-color: #FFADC6;
    --accent2-color: #F5F5F5;
    --heading-font: "Montserrat", sans-serif;
    --body-font: "Roboto", sans-serif;
}
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: black;
}

header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 1rem;
    padding: 1rem;
    color: black;
}

.socialmedia a {
    text-decoration: none;
    width: 60px;
    height: 45px;
}

.hero {
    position:relative;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top:1em;
    left: 50%;
    transform: translatex(-50%);
    padding: 1rem;
    background-color: var(--accent1-color);
    color: black;
    opacity: 0.7;
}
.hero article {
    position: absolute;
    background-color: var(--accent2-color);
    top: 8rem;
    left: 3rem;
    right: 3rem;
    opacity: 0.9;
    color: var(--primary-color);
    display: flex;
    flex-direction: row-reverse;
}

.hero article img {
    float: right;
    width: 12rem;
    margin: 1rem;

}
 
section img {
    margin-top: 15px;
    max-width: 10rem;
    
}

.history h2{
    position: relative;
    top:1em;
    left: 50%;
    align-content: center;
    transform: translatex(-50%);
    padding: 1rem;
    background-color: var(--accent1-color);
    color: black;
    opacity: 0.7;
    display: flex;
    align-self: center;
    justify-content: center;

}

.adventure{
    align-content: center;
    display: grid;
    grid-template-columns:20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
}

.adventure h2 {
    position: relative;
    top:1em;
    left: 50%;
    align-content: center;
    transform: translatex(-50%);
    padding: 1rem;
    gap: 1rem;
    background-color: var(--accent1-color);
    color: black;
    opacity: 0.7;
    display: flex;
    align-self: center;
    justify-content: center;
    display: grid;
    grid-area: 1/1/1/6;
   
}

.adventure img {
    max-width: 40rem;
    margin-top: 1em;
    display: flex ;
    justify-content: center;
    display: grid;
    grid-area: 1/2/6/3;
    padding: 10px;
    margin: 0%;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 2px;
    margin-inline-end: 60px;
}

figure img {
    width: 135%;
    height: 9rem;
    
}

figure figcaption {
    margin: 1rem;
    margin-left: 3rem;
    margin-bottom: 5rem;

}

header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: space-around;
    border-bottom: none;
}

nav {
    background-color: var(--secundary-color);;
    max-width: 100%;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
	list-style: none;
	font-family: var(--body-font);
    font-size:larger;
}

header img {
     height: 125px;
}

footer {
    max-width: 1200px;
    margin-top: 2rem;
    padding: 1px;
    display: flex;
    align-content: center;
    justify-content: right;
    gap:5rem;
    background-color: var(--primary-color);
}

.socialmedia img {
    max-width: 50px;
    display: block;
    margin-top: 1px;
    margin-left: 5px;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 20px;
}

footer a {
    display: flex;
    align-items: center;
}

form {
    width: 700px;
    height: 480px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}
legend {
    padding: 0rem;
    color: navy;
    font-size: 1.3em;
}
    
label, input, button, textarea {
    font-family: Roboto, Arial, sans-serif;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 0rem;
    margin-left: 12rem;
    margin-right: 12rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    display: grid;
}

button:hover {
    background-color: darkgreen;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 2fr 1fr;
}
label {
    text-align: right;
    padding-right: 20rem;
}